.Estilo1{
color: #FFFFFF;
font-weight: bold;
}
.Estilo2 {color: #FFFFFF;}
.Estilo3 {
font-family: "Courier New", Courier, monospace;
font-size: 36px;
color: #FFFFFF;
font-weight: bold;
}
.Estilo4 { font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #FFFFFF;
}
.Estilo6 { font-family: "Courier New", Courier, monospace; font-size: 36px; color: #FFFFFF; font-weight:bold; font-style: italic;}
.Estilo7 {
color: #660000;
font-size: 18px;
}
.Estilo8 {
color: #931518;
font-style: italic;
}