body{
color: black;
background-color: #C29B61;}

h1 {
   font-family: Helvetica, Geneva, Arial, SunSans-Regular, suns-Serif}



header{

	display: flex;
	justify-content: space-between;
	background-color: white;
}

.logo{

	display: flex;
	align-items: center;
}


.logo img {
	height: 100px;
	margin-right:10px ;
}

